In [1]:
#condition checking 

a=33

b=200

if b>a:
    print("b is greater than a")

b is greater than a

In [4]:
a=33

b=200

if(b>a):
 print("b is greater than a")

b is greater than a

In [5]:
a=33

b=33

if b>a:
    print("b is greater than a")
elif a==b:
    print("a and b are equal")

a and b are equal

In [6]:
a=200

b=33


if b>a:
    print("b is greater than a")
elif a==b:
    print("a and b are equal")
    
else:
    print("a is greater than b")

a is greater than b

In [7]:
a=200

b=33

if b>a:
    print("b is greater than a")
else:
    print("b is not greater than a")

b is not greater than a

In [8]:
#online if statement

if a>b:print("a is greater than b")

a is greater than b

In [9]:
a=2 

b=330

print("A") if a>b else print("B")

B

In [14]:
a=200

b=33

c=500

if a>b and c>a:
    print("both conditions are true")

both conditions are true

In [11]:
if a>b or a>c:
    print("At least one of the condition is True")

At least one of the condition is True

In [16]:
x=15

if x>10:
    print("Above 10")
    if x>20:
        print("and also above 20")
    else:
        print("but not above 20")

Above 10
but not above 20

In [19]:
#loop

# while loop

i=1 

while i<6:
    print(i)
    i+=1

1
2
3
4
5

In [20]:
i= 1 

while(i<6):
    print(i)
    if i==3:
        break
    i+=1

1
2
3

In [21]:
i=0 

while i<6:
    i+=1 
    if i==3:
        continue
    print(i)

1
2
4
5
6

In [22]:
i=1 

while i<6:
    print(i)
    i+=1 
else:
    print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

In [23]:
#for loop

fruits=["apple","banana","cherry"]

for x in fruits:
    print(x)

apple
banana
cherry

In [24]:
for x in "banana": 
    print(x)

b
a
n
a
n
a

In [25]:

fruits=["apple","banana","cherry"]

for x in fruits:
    print(x)
    if x=="banana":
        break

apple
banana

In [31]:
fruits=["apple","banana","cherry"]

for x in fruits:
    if x=="cherry":
        break
    print(x)

apple
banana

In [32]:
fruits=["apple","banana","cherry"]

for x in fruits:
    if x=="banana":
        continue
    print(x)

apple
cherry

In [33]:
for x in range(6):
    print(x)

0
1
2
3
4
5

In [34]:
for x in range(2,6):
    print(x)

2
3
4
5

In [35]:
for x in range(2,30,3):
    print(x)

2
5
8
11
14
17
20
23
26
29

In [36]:
for x in range(6):
    print(x)
else:
    print("Finally Finished")

0
1
2
3
4
5
Finally Finished

In [37]:
for x in range(6):
    if x==3:break 
    print(x)
else:
    print("Finally finished")

0
1
2

In [39]:
# Function

def sqr(x):
    z=x*x
    return z

In [40]:
sqr(50)

2500

In [41]:
def cube(x):
    z=x**3
    return z

In [42]:
cube(60)

216000

In [43]:
def vol(l,b,h):
    z=l*b*h
    return z

In [44]:
vol(8,2,3)

48

In [52]:
def area(l,b):
    z=l*b
    return z

In [50]:
area(50,60)

3000

In [48]:
user_input=int(input("enter the number"))

def cube_func(user_input):
    a=user_input**3
    return a

cube_func(user_input)

enter the number60

216000

In [53]:
#lambda expression 

sqr=lambda x:x*x

In [54]:
sqr(88)

7744

In [55]:
cube=lambda x:x**3

In [56]:
cube(90)

729000

In [57]:
vol=lambda x,y,z:x*y*z

In [59]:
vol(50,6,70)

21000

In [60]:
area=lambda x,y:x*y

In [61]:
area(90,50)

4500

In [62]:
x=7+3*2

In [63]:
x

13

In [65]:
5-7

-2

In [66]:
(10101010)<<(00000011)

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (<ipython-input-66-8cfd62f8d9df>, line 1)

In [69]:
x=12 

y=6 

print('x<<y is equal to',bin(x<<y))

x<<y is equal to 0b1100000000

In [70]:
l1=[]

l1=[x*x for x in [0,1,2,3] if (x%2==0)]

print(l1)

[0, 4]