In [1]:
99885666*665556655

66479569745407230

In [2]:
88556/5665566

0.015630565419236138

In [3]:
4488+5655565

5660053

___python___

# My first code

In [4]:
#variable

x=10

In [5]:
print(x)

10

In [6]:
#checking data type

type(x)

int

In [7]:
y='cc'

In [8]:
y

'cc'

In [9]:
type(y)

str

In [10]:
y1='Arin's'

SyntaxError: invalid syntax (<ipython-input-10-bd9a93edd797>, line 1)

In [11]:
y1="Arin's"

In [12]:
y1

"Arin's"

In [13]:
#list

l1=[]

In [14]:
l1

[]

In [15]:
type(l1)

list

In [16]:
l1=[10,20,30,'xx','yy']

In [17]:
l1

[10, 20, 30, 'xx', 'yy']

In [18]:
#accessing value 

l1[1]

20

In [19]:
l1[-4]

20

In [20]:
l1[1]=50

In [21]:
l1

[10, 50, 30, 'xx', 'yy']

In [23]:
#slicing

l1[1:3]

[50, 30]

In [24]:
l1[-3:-5]

[]

In [25]:
l1[-3:-4]

[]

In [26]:
l1[-4:-2]

[50, 30]

In [27]:
l1[-2:-4]

[]

In [28]:
#add elements

l1.append(60)

In [29]:
l1

[10, 50, 30, 'xx', 'yy', 60]

In [31]:
l1.append([70,80])

In [32]:
l1

[10, 50, 30, 'xx', 'yy', 60, [70, 80]]

In [34]:
l1[6][0]

70

In [35]:
l1.extend([100,200,300]) #extend is going to add  multiple element

In [36]:
l1

[10, 50, 30, 'xx', 'yy', 60, [70, 80], 100, 200, 300]

In [37]:
l1.insert(3,'ll') #insert- add elements in specific position

In [38]:
l1

[10, 50, 30, 'll', 'xx', 'yy', 60, [70, 80], 100, 200, 300]

In [39]:
#pop-remove the last element

l1.pop()

300

In [40]:
l1

[10, 50, 30, 'll', 'xx', 'yy', 60, [70, 80], 100, 200]

In [41]:
# remove- Remove specific elements 

l1.remove('xx')

In [42]:
l1

[10, 50, 30, 'll', 'yy', 60, [70, 80], 100, 200]

In [45]:
l1.insert(2,[500,600])

In [46]:
l1

[10, 50, [500, 600], 30, 'll', 'yy', 60, [70, 80], 100, 200]

In [51]:
l2=[5,500,100,8,5000,6000]

In [48]:
#sort-Ascending order

#l2.sort()

In [49]:
l2

[5, 8, 100, 500, 5000, 6000]

In [54]:
#descending order

sorted(l2,reverse=True)

[6000, 5000, 500, 100, 8, 5]

In [55]:
#len-to check the length of the list

len(l2)

6

In [56]:
#count of the element 

l2.count(500)

1

# Dictionary

In [57]:
dict1={}

In [58]:
dict1

{}

In [59]:
type(dict1)

dict

In [60]:
dict1={'key1':10,'key2':20,'key3':30,'key4':40}

In [61]:
dict1

{'key1': 10, 'key2': 20, 'key3': 30, 'key4': 40}

In [62]:
dict1['key2']

20

In [63]:
dict1['key2']=50

In [64]:
dict1

{'key1': 10, 'key2': 50, 'key3': 30, 'key4': 40}

In [66]:
dict1.keys() #return keys of the dict

dict_keys(['key1', 'key2', 'key3', 'key4'])

In [67]:
dict1.values()# return values of the dict

dict_values([10, 50, 30, 40])

In [68]:
dict1.items()# return all item of dict

dict_items([('key1', 10), ('key2', 50), ('key3', 30), ('key4', 40)])

In [69]:
dict1.update({'key5':50})#to add elements in dictionary

In [70]:
dict1

{'key1': 10, 'key2': 50, 'key3': 30, 'key4': 40, 'key5': 50}

In [71]:
dict2={'key1':10,'key2':20,'key3':{'xx':50,'yy':60,'zz':70}}

In [72]:
dict2

{'key1': 10, 'key2': 20, 'key3': {'xx': 50, 'yy': 60, 'zz': 70}}

In [74]:
dict2['key3']['yy']

60

In [75]:
dict2['key3']['yy']='bb'

In [76]:
dict2

{'key1': 10, 'key2': 20, 'key3': {'xx': 50, 'yy': 'bb', 'zz': 70}}

In [78]:
#copy dictionary

thisdict={
    "brand":"Ford",
    "model":"Mustang",
    "year":1964
}

mydict=thisdict.copy()

In [79]:
mydict

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

# Tuple

In [80]:
t=()

In [81]:
t

()

In [82]:
type(t)

tuple

In [83]:
t=(10,20,30,'xx','yy')

In [84]:
t

(10, 20, 30, 'xx', 'yy')

In [85]:
t[1]

20

In [87]:
t[1]=30

TypeError: 'tuple' object does not support item assignment

In [89]:
t.append(60)

AttributeError: 'tuple' object has no attribute 'append'

In [90]:
t1=(10,20,30,8,500,5000)

In [91]:
t1

(10, 20, 30, 8, 500, 5000)

In [92]:
#len

len(t1)

6

In [94]:
#max

max(t1)

5000

In [95]:
#min

min(t1)

8

In [96]:
#count

t1.count(5000)

1

In [97]:
#index value
t1.index(500)

4

In [98]:
#typecasting

l3=list(t1)

In [99]:
l3

[10, 20, 30, 8, 500, 5000]

In [100]:
#set

s1=set(t1)

In [101]:
s1

{8, 10, 20, 30, 500, 5000}

In [102]:
type(s1)

set

In [103]:
s1.add(90)

In [104]:
s1

{8, 10, 20, 30, 90, 500, 5000}

In [107]:
s1=set(['xx','yy','zz'])

s2=set(['xx','yy','zz','ll'])

In [108]:
#intersection values

s1.intersection(s2)

{'xx', 'yy', 'zz'}

In [109]:
#union all values

s1.union(s2)

{'ll', 'xx', 'yy', 'zz'}

In [110]:
s1.issuperset(s2)

False

In [111]:
s2.issuperset(s1)

True

In [112]:
s1.issubset(s2)

True